In [1]:
import pandas as pd
import bamboolib as bam

In [2]:
df = pd.read_csv('/Users/mac/my_workshops/scrapy/fifalive/livefifaranking/livefifaranking/spiders/databis.csv')

In [3]:
import pandas as pd; import numpy as np
df = df.loc[~(df['country'].isna())]
df['rank'] = pd.to_numeric(df['rank'], downcast='integer', errors='coerce')
df = df[['rank'] + ['country'] + ['moving', 'actual points', 'moving points', 'former points', 'former rank']]
df = df.fillna('0')
df['former rank'] = pd.to_numeric(df['former rank'], downcast='integer', errors='coerce')
df = df.sort_values(by=['rank'], ascending=[True])
df

      rank moving              country actual points moving points  \
0      1.0    NaN               Brazil      1,840.77       (-0.53)
1      2.0   (↑1)            Argentina      1,786.92      (+13.04)
2      3.0   (↓1)              Belgium      1,781.30      (-35.41)
3      4.0   (↑1)              England      1,774.07      (+45.60)
4      5.0   (↓1)               France      1,770.50      (+10.72)
..     ...    ...                  ...           ...           ...
218   96.0    NaN              Vietnam     1,226.65            NaN
219   97.0    NaN              Belarus      1,221.67       (+0.61)
220   98.0    NaN    Equatorial Guinea     1,215.66            NaN
221   99.0    NaN                Congo     1,208.79            NaN
222  100.0   (↓1)              Lebanon      1,208.47       (-3.24)

    former points  former rank
0           1,841          1.0
1           1,774          3.0
2           1,817          2.0
3           1,728          5.0
4           1,760          4.0
..            ...          ...
218         1,227         96.0
219         1,221         97.0
220         1,216         98.0
221         1,209        100.0
222         1,212         99.0

[223 rows x 7 columns]

In [4]:
from collections import OrderedDict



data = OrderedDict(
    [
        ("Date", ["2015-01-01", "2015-10-24", "2016-05-10", "2017-01-10", "2018-05-10", "2018-08-15"]),
        ("Region", ["Montreal", "Toronto", "New York City", "Miami", "San Francisco", "London"]),
        ("Temperature", [1, -20, 3.512, 4, 10423, -441.2]),
        ("Humidity", [10, 20, 30, 40, 50, 60]),
        ("Pressure", [2, 10924, 3912, -10, 3591.2, 15]),
    ]
)

dataf = pd.DataFrame(
    OrderedDict([(name, col_data * 10) for (name, col_data) in data.items()])
)

In [5]:
dataf

          Date         Region  Temperature  Humidity  Pressure
0   2015-01-01       Montreal        1.000        10       2.0
1   2015-10-24        Toronto      -20.000        20   10924.0
2   2016-05-10  New York City        3.512        30    3912.0
3   2017-01-10          Miami        4.000        40     -10.0
4   2018-05-10  San Francisco    10423.000        50    3591.2
5   2018-08-15         London     -441.200        60      15.0
6   2015-01-01       Montreal        1.000        10       2.0
7   2015-10-24        Toronto      -20.000        20   10924.0
8   2016-05-10  New York City        3.512        30    3912.0
9   2017-01-10          Miami        4.000        40     -10.0
10  2018-05-10  San Francisco    10423.000        50    3591.2
11  2018-08-15         London     -441.200        60      15.0
12  2015-01-01       Montreal        1.000        10       2.0
13  2015-10-24        Toronto      -20.000        20   10924.0
14  2016-05-10  New York City        3.512        30    3912.0
15  2017-01-10          Miami        4.000        40     -10.0
16  2018-05-10  San Francisco    10423.000        50    3591.2
17  2018-08-15         London     -441.200        60      15.0
18  2015-01-01       Montreal        1.000        10       2.0
19  2015-10-24        Toronto      -20.000        20   10924.0
20  2016-05-10  New York City        3.512        30    3912.0
21  2017-01-10          Miami        4.000        40     -10.0
22  2018-05-10  San Francisco    10423.000        50    3591.2
23  2018-08-15         London     -441.200        60      15.0
24  2015-01-01       Montreal        1.000        10       2.0
25  2015-10-24        Toronto      -20.000        20   10924.0
26  2016-05-10  New York City        3.512        30    3912.0
27  2017-01-10          Miami        4.000        40     -10.0
28  2018-05-10  San Francisco    10423.000        50    3591.2
29  2018-08-15         London     -441.200        60      15.0
30  2015-01-01       Montreal        1.000        10       2.0
31  2015-10-24        Toronto      -20.000        20   10924.0
32  2016-05-10  New York City        3.512        30    3912.0
33  2017-01-10          Miami        4.000        40     -10.0
34  2018-05-10  San Francisco    10423.000        50    3591.2
35  2018-08-15         London     -441.200        60      15.0
36  2015-01-01       Montreal        1.000        10       2.0
37  2015-10-24        Toronto      -20.000        20   10924.0
38  2016-05-10  New York City        3.512        30    3912.0
39  2017-01-10          Miami        4.000        40     -10.0
40  2018-05-10  San Francisco    10423.000        50    3591.2
41  2018-08-15         London     -441.200        60      15.0
42  2015-01-01       Montreal        1.000        10       2.0
43  2015-10-24        Toronto      -20.000        20   10924.0
44  2016-05-10  New York City        3.512        30    3912.0
45  2017-01-10          Miami        4.000        40     -10.0
46  2018-05-10  San Francisco    10423.000        50    3591.2
47  2018-08-15         London     -441.200        60      15.0
48  2015-01-01       Montreal        1.000        10       2.0
49  2015-10-24        Toronto      -20.000        20   10924.0
50  2016-05-10  New York City        3.512        30    3912.0
51  2017-01-10          Miami        4.000        40     -10.0
52  2018-05-10  San Francisco    10423.000        50    3591.2
53  2018-08-15         London     -441.200        60      15.0
54  2015-01-01       Montreal        1.000        10       2.0
55  2015-10-24        Toronto      -20.000        20   10924.0
56  2016-05-10  New York City        3.512        30    3912.0
57  2017-01-10          Miami        4.000        40     -10.0
58  2018-05-10  San Francisco    10423.000        50    3591.2
59  2018-08-15         London     -441.200        60      15.0